@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');

:root {
  --font-family: 'Manrope', sans-serif;
  
  --color-bg: #811b28;
  --color-footer : #c92a3e;
  --color-text: #81AFDD;
  --color-subtext: #FF8A71;
}

h1 {
  color: #fff;
  font-family: 'ANDYFISH';
  font-size: 60px;
  line-height: 65px;
  text-transform: uppercase;
}
